<section class="w3l-bottom-grids py-5" id="steps">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box no-box-shadow">
                    <span class="fa fa-home"></span>
                    <h4><a href="#feature" class="title-head">Evinizi Alın</a></h4>
                    <p>Doğru Analiz Doğru Fiyatlandır Doğru Uzman İle Evinizi Alın/Satın.</p>
                    <a href="#more" class="more">Daha Fazla <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box no-box-shadow">
                    <span class="fa fa-home"></span>
                    <h4><a href="#feature" class="title-head">Evinizi Kiralayın </a></h4>
                    <p>Doğru Analiz, Doğru Fiyatlandırma ve Doğru Uzman İle Evinizi Kiralayın/Kiraya Verin.</p>
                    <a href="#more" class="more">Daha Fazla <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box no-box-shadow">
                    <span class="fa fa-building-o"></span>
                    <h4><a href="#feature" class="title-head">Komşularınızı Keşfedin</a></h4>
                    <p>Oturacağınız mahalle size uygun mu değil mi öğrenmek için uzmanlarımız ile iletişime geçin.</p>
                    <a href="#more" class="more">Daha Fazla <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>